.tinder-card
  width: 100%
  height: 100%

  &__image
    background-size: cover
    background-repeat: no-repeat
    background-position: top center
    aspect-ratio: 27 / 32
    width: 100%
    height: 100%

  &__profile-title
    display: flex
    align-items: center
    position: absolute
    bottom: 0
    gap: .5rem
    margin-left: 1rem
    margin-bottom: 1rem

  &__name
    text-shadow: .0625rem .0625rem .4375rem rgba(0,0,0,.85)
    color: #fff
    font-size: 2rem
    font-weight: 600
    font-family: 'Rats Fink Heavy'

  &__icon
    width: 2rem
    height: 2rem
    filter: brightness(0) invert(1) drop-shadow( 2px 2px .4375rem rgb(0,0,0))

  // &__bio
