//sass-lint:disable-all
@font-face
  font-family: 'Amiri'
  font-weight: 300
  font-style: italic
  src: url('/assets/fonts/Amiri-Slanted.ttf') format('truetype')
  font-display: swap
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
  
@font-face
  font-family: 'Amiri'
  font-weight: 300
  font-style: normal
  src: url('/assets/fonts/Amiri-Bold.ttf') format('truetype')
  font-display: swap
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
  
@font-face
  font-family: 'Alpaca'
  font-weight: 300
  font-style: normal
  src: url('/assets/fonts/Alpaca.ttf') format('truetype')
  font-display: swap
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family: 'Rats Fink Heavy'
  src: url('/assets/fonts/Rats-Fink-Heavy.ttf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swap
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family: 'Amaranth'
  src: url('/assets/fonts/Amaranth-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swap
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family: 'Typo'
  src: url('/assets/fonts/Typo-Grotesk-Bold-Demo.otf') format('opentype')
  font-weight: normal
  font-style: normal
  font-display: swap
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family: 'Mollen'
  src: url('/assets/fonts/Mollen-BoldPersonalUse.otf') format('opentype')
  font-weight: normal
  font-style: normal
  font-display: swap
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family: 'Work Sans'
  src: url('/assets/fonts/WorkSans-Light.otf') format('opentype')
  font-weight: normal
  font-style: normal
  font-display: swap
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

@font-face
  font-family: 'Bodoni'
  src: url('/assets/fonts/BodoniFLF-Bold.ttf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swap
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
