@use '~/node_modules/utopia-core-scss/src/utopia.scss' as utopia;

:root {
  @include utopia.generateClamps((
    "minWidth": 320,
    "maxWidth": 1436,
    "pairs": (
      (48, 64),
      (26, 48),
      (18, 32),
      (16, 24),
      (16, 32),
      (14, 20)
    ),
    "prefix": "fluid-",
    "relativeTo": "viewport-width",
  ));
}

body {
  background-color: #D6DAC8;
  margin: 0;
}

h1 {
  font-size: var(--fluid-48-64)
}

h2 {
  font-size: var(--fluid-26-48)
}

h3 {
  font-size: var(--fluid-18-32)
}

p {
  font-size: var(--fluid-14-20)
}

button {
  all: unset;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 var(--fluid-16-32);
  max-width: 1440px !important;
}
