.grid
  width: 100%

  &__container
    & 
      display: grid
      grid-template-columns: repeat(4, 1fr)
      grid-auto-flow: dense
      justify-content: flex-start
      gap: 1rem
      width: 100%
      transition: 2s
    
    @media screen and (max-width: 768px)
      grid-template-columns: 1fr 1fr

  &__catergory-container
    &
      display: flex
      padding: 1rem 0 !important
      gap: .5rem
    @media screen and (max-width: 600px)
      gap: .25rem
      padding: .5rem 0 !important

  &__catergory-button
    label
      &
        display: inline-block
        padding: 0 1.5rem
        font-size: 20px
        font-family: 'Amiri'
        cursor: pointer
        border: 3px #1e1d1d solid
        border-radius: 24px

      @media screen and (max-width: 600px)
        font-size: 16px
        border: 2px #1e1d1d solid
        padding: .25rem 1rem

    input[type="radio"] + label
      position: relative
    
    input[type="radio"]:checked + label
      background: #1e1d1d
      color: white

.cell
  display: flex
  justify-content: center
  position: relative
  border-radius: 15%
  box-shadow: .0625rem .0625rem .4375rem rgba(0,0,0,.15)
  aspect-ratio: 1
  width: 100%
  height: auto
  overflow: hidden
  background-color: #333

  &::after
    display: block
    position: absolute
    top: 0
    left: 0
    transition: background-color .2s ease
    width: 100%
    height: 100%
    background-color: transparent
    content: ''

  &:hover
    cursor: pointer

    &.active
      .cell__caption
        transition: font-size .5s .2s ease 
        font-size: 3rem

      &::after
        transition: background-color .2s ease
        background-color: transparent 

    .cell__caption
      opacity: 1

    &::after
      position: absolute
      transition: background-color .2s ease
      z-index: 2
      background-color: rgba(#333, .3)

  &.active
    grid-column-end: span 2
    grid-row-end: span 2

    .cell__caption
      opacity: 0 !important

  &__title
    &
      display: flex
      align-items: flex-end
      position: absolute
      bottom: 0
      font-weight: 300
      color: #fff
      line-height: 1.1
      margin: 0
      padding: 1rem 2rem
      text-shadow: 1px 1px 2px #000, 0 0 1em #333, 0 0 0.2em #333
      z-index: 3
      width: 90%
      height: 100%
    
    @media screen and (max-width: 480px)
      font-size: 26px
      padding: 1rem

  &__caption
    transition: opacity .2s ease font-size .5s .2s ease 
    font-size: var(--fluid-18-32)
    position: absolute
    margin: 0 auto
    text-align: center
    left: 50%
    bottom: 0
    transform: translate(-50%, -50%)
    z-index: 3
    opacity: 0
    font-weight: 300
    color: #fff
    text-shadow: 1px 1px 2px #000, 0 0 1em #333, 0 0 0.2em #333
    width: 80%


.cell-large
  &
    transition: border-radius .2s ease
    display: flex
    justify-content: center
    position: relative
    background-color: #000
    border-radius: 8% / 15%
    box-shadow: .0625rem .0625rem .4375rem rgba(0,0,0,.15)
    grid-column-end: span 2
    overflow: hidden
    background-position: center
    background-size: contain
    aspect-ratio: 2 / 1

    img
      transition: transform .5s ease

    &:hover
      img
        transition: transform .5s ease
        transform: scale(1.1)

    &::after
      position: absolute
      width: 100%
      height: 100%
      background-color: rgba(#333, .1)
      content: ''

.content
  width: 100%
  height: 100%
  position: relative

  .cell-large &
    background-size: cover

  img
    width: 100%
    height: 100%

.slide
  position: absolute
  width: 100%
  height: 100%
  z-index: 0

  &:nth-of-type(1)
    z-index: 1

    .cell-large &
      z-index: 0

.hide
  pointer-events: none
  display: none
    
