.navigation
  position: sticky
  top: 0
  overflow: hidden
  background-color: #D6DAC8
  // box-shadow: 0 4px 10px 0 rgba(0,0,0,.04),0 3px 16px -4px rgba(0,0,0,.03)
  width: 100%

  &__container
    display: 100%
    justify-content: space-between
    padding: .5rem 0
    width: 100%
    
  &__logo
    width: auto
    height: 60px

.footer
  width: 100%

  &__container
    display: flex
    flex-direction: column
    justify-content: flex-start
    padding: .5rem 0
    width: 100%

    &::before
      display: block
      background: #333
      width: 40%
      height: 1px
      content: ''

  &__copyright
    font-size: 16px

.home-hero
  padding-top: 80px
  width: 100%

  &__title
    &
      font-size: 8vw

    @media screen and (max-width: 768px)
      font-size: 48px
      text-align: center

.grid
  width: 100%

  &__container
    & 
      display: grid
      grid-template-columns: repeat(4, 1fr)
      justify-content: flex-start
      gap: 1rem
      padding: .5rem 0
      width: 100%
    
    @media screen and (max-width: 768px)
      grid-template-columns: 1fr 1fr
      
    // @media screen and (max-width: 480px)
    //   grid-template-columns: 1fr

.cell
  &
    transition: border-radius .2s ease
    background-color: #9694FF
    border-radius: 50px
    box-shadow: .0625rem .0625rem .4375rem rgba(0,0,0,.15)
    aspect-ratio: 1
    width: 100%
    height: auto

  @media screen and (max-width: 480px)
    border-radius: 20px

  &:hover
    transition: border-radius .2s ease
    border-radius: 50%

.cell-large
  &
    transition: border-radius .2s ease
    background-color: #FAB12F
    display: flex
    border-radius: 50px
    box-shadow: .0625rem .0625rem .4375rem rgba(0,0,0,.15)
    grid-column-end: span 2

  @media screen and (max-width: 768px)
    aspect-ratio: 2 / 1

  @media screen and (max-width: 480px)
    border-radius: 20px

  &:hover
    transition: border-radius .2s ease
    border-radius: 90px
