.navigation
  position: fixed
  top: .5rem
  left: .5rem
  transition: box-shadow 0.2s ease
  box-shadow: none
  background-color: transparent
  width: 100%
  z-index: 9999 !important
  
  .container
    padding: 0

  &.active, &.open
    .navigation__container
      z-index: 10000 !important
      box-shadow: 0 4px 10px 0 rgba(0,0,0,.06),0 3px 16px -4px rgba(0,0,0,.5)

  &__container
    display: flex
    flex-direction: row
    padding: .5rem var(--fluid-16-32)
    width: fit-content
    background-color: #fcf6f1
    border-radius: 3rem
    z-index: 10000 !important
    position: relative !important

    @media screen and (max-width: 768px)
      border-radius: 2.5rem

    @media screen and (max-width: 768px)
      flex-direction: column
    
  &__logo
    &
      width: auto
      height: 65px
      position: relative
      z-index: 15

    @media screen and (max-width: 768px)
      height: 40px

  &__drawer
    transition: max-width .5s cubic-bezier(0.4, 0, 0.2, 1) .05s
    display: flex
    align-items: center
    gap: 1rem
    max-width: 0
    width: 100%
    overflow: hidden
    will-change: max-width

    @media screen and (max-width: 768px)
      transition: max-height .5s cubic-bezier(0.4, 0, 0.2, 1) .05s
      height: 100%
      max-height: 0
      flex-direction: column

    &.open
      max-width: 500px

      @media screen and (max-width: 768px)
        max-height: 500px

  &__links
    display: flex
    margin: 0
    padding: 0
    width: fit-content
    transition: transform .5s cubic-bezier(0.4, 0, 0.2, 1) .05s
    transform: translateX(-100%)

    @media screen and (max-width: 768px)
      transform: translateY(-100%)
      flex-direction: column
      align-items: center

    .navigation__drawer.open &
      transform: translateX(0%)

      @media screen and (max-width: 768px)
        transform: translateY(0%)

  &__link
    &-item
      display: flex
      align-items: center
      justify-content: flex-end
      font-family: 'Amiri', sans-serif
      font-size: 1.25rem
      letter-spacing: 1px
      list-style-type: none
      line-height: 1
      width: fit-content

      @media screen and (max-width: 768px)
        flex-direction: column
        justify-content: center
        font-size: 1rem

      &::after
        &
          display: block
          border-radius: .3rem
          width: .3rem
          height: .33rem
          margin: 0 .75rem
          background-color: black
          content: ""

        @media screen and (max-width: 768px)
          margin: .75rem 0

        @media screen and (max-width: 600px)
          width: .3rem
          height: .33rem

      &:first-child
        margin-left: 2.25rem

        @media screen and (max-width: 768px)
          margin-top: 1rem
          margin-left: 0

      &:last-child
        margin-right: 1.25rem

        @media screen and (max-width: 768px)
          margin-bottom: 1rem
          margin-right: 0
  
      &:last-child::after
        margin: 0
        width: 0
        height: 0
        content: ""

.stop-scroll
  overflow: hidden
