.navigation
  position: sticky
  top: 0
  overflow: hidden
  background-color: #D6DAC8
  width: 100%
  z-index: 9999

  &.active
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.06),0 3px 16px -4px rgba(0,0,0,.03)

  &__container
    display: 100%
    justify-content: space-between
    padding: .5rem 0
    width: 100%
    
  &__logo
    &
      width: auto
      height: 60px

    @media screen and (max-width: 768px)
      height: 40px
