.animal-swipe
  &__container
    display: flex

  &__cards
    display: flex
    align-items: center
    justify-content: center
    position: relative
    width: 33%
    height: 80vh

  &__card
    position: absolute
    aspect-ratio: 2 / 3
    width: 70%
    height: auto
    background-color: #333
    border-radius: 8% / 6%

  &__content
    padding: 1rem

  &__title
    font-family: 'Rats Fink Heavy'
    color: #333
