.hero-home
  width: 100%
  height: 100%

  .container
    &
      height: 100%
      z-index: 0

  h1
    margin: 0

  &__background
    &
      display: flex
      position: absolute
      top: 0
      width: 100%
      justify-content: center
      z-index: -1
      height: 100%
      overflow: hidden
    @media screen and (max-width: 768px)
      flex-direction: column
    @media screen and (max-width: 900px) and (max-height: 480px)
      flex-direction: row

  &__oval
    &
      position: relative
      border-radius: 90% / 60%
      aspect-ratio: 2 / 3
      background-size: cover
      background-position: center
      margin: auto 0
      height: auto
      width: calc(100%/3 - 1rem)
      max-width: 415px
      overflow: hidden
      pointer-events: auto
    @media screen and (max-width: 768px)
      border-radius: 60% / 90%
      aspect-ratio: 3 / 2
      margin: 0 auto
      height: 65vw
      width: auto
      max-width: unset
    @media screen and (max-width: 900px) and (max-height: 480px)
      border-radius: 90% / 60%
      aspect-ratio: 2 / 3
      background-size: cover
      background-position: center
      margin: auto 0
      height: auto
      width: 25%

    &:hover
      svg text
        &
          fill: white
          filter: url(#textShadow)
          z-index: 3
        @media screen and (max-width: 768px)
          filter: url(#textShadowMobile)
      &::before
        background-color: rgba(#333, 0.1)

    // &:nth-of-type(1)::before
    //   background-color: #4793AF

    // &:nth-of-type(2)::before
    //   background-color: #F24C4C

    // &:nth-of-type(3)::before
    //   background-color: #FAB12F

    

    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: #FAB12F
      pointer-events: none
      transition: background-color 0.2s ease-in-out
      backdrop-filter: blur(1px)
      z-index: 1

    svg
      width: 100%
      height: 100%
      pointer-events: none
      position: absolute
      z-index: 2

  &__desktop-icon
    @media screen and (max-width: 768px)
      display: none
    @media screen and (max-width: 900px) and (max-height: 480px)
      display: block

  &__mobile-icon
    &
      display: none
    @media screen and (max-width: 768px)
      display: block
    @media screen and (max-width: 900px) and (max-height: 480px)
      display: none


  &__title
    &
      line-height: 1
      font-style: italic
      font-family: 'Times'
      font-size: 20vh
      font-weight: 300
      text-align: center
      display: none

    @media screen and (max-width: 768px)
      font-size: 20vw

  &__row
    display: flex
    justify-content: space-evenly

    h1
      font-size: 6vw

  &__logo
    &
      width: 40vw
      max-width: 576px
      height: auto

    @media screen and (max-width: 768px)
      width: 60vw
