.weather-graph
  width: 100%
  min-height: 100vh

  &__container
    &
      display: flex
      align-content: center
      justify-content: center
      gap: 2rem
    @media screen and (max-width: 768px)
      flex-wrap: wrap
      gap: 0

  &__row
    &
      display: flex
      flex-direction: column

  &__title
    &
      margin-bottom: 0
      font-family: 'Amiri'
      line-height: 1

  &__subtitle
    font-family: 'Mollen'
    margin: 1rem 0 0

  p:not(:last-of-type)
    margin-bottom: 0

.weather-chart
  margin-top: 2rem

.details
  fill: #fff
  -webkit-filter: drop-shadow(0 0 .5rem #333)
  filter: drop-shadow(0 0 .5rem #333)
  font-family: 'Amiri'
  text-align: center
  transition: opacity 0.2s ease-in-out

  span
    font-size: 2rem
    line-height: 1
